/*  Global  */

html {
  scroll-behavior: smooth;
  overflow-x: show;
}

body {
    color: #1a1a1a;
    background-color: #2b2b2b;
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
}

h1,h2,h3,h4,h5,h6 {
    font-family: 'Poppins', sans-serif;
}

img {
    max-width: 100%;
    height: auto;
}

ul {
    padding-left: 15px;
}

li {
    padding: 0 0 10px;
}

.wrapper {
    width: 1010px;
    margin: 0 auto;
}

/* Header */
.header {
    background: #fbc9ba;
    padding: 46px;
    position: fixed;
    height: 100%;
    width: 260px;
    z-index: 5;
}

.header .avatar {
    overflow: hidden;
    width: 165px;
    height: 165px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%;
}

.header .avatar img {
    width: 100%;
}

.header .name {
    margin: 34px 0;
}

.header .name h1 {
    font-family: 'Poppins', sans-serif;
    font-size: 30px;
    font-weight: 700;
    color: #000;
	letter-spacing: 1px;
    margin: 0 0 5px;
    
}

.header .name span {
    color: #212121;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    font-weight: 300;
}

/* Navigation */
.header .main-nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.header .main-nav ul li {
    padding-bottom: 15px;
}

.header .main-nav ul li a {
    color: #fff;
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
    font-weight: 400;
	letter-spacing: 2px;
    text-transform: uppercase;
    position: relative;
    -webkit-transition: all .1s ease-in-out;
    -moz-transition: all .1s ease-in-out;
    -o-transition: all .1s ease-in-out;
    transition: all .1s ease-in-out;
}

.header .main-nav ul li a:hover,.header .main-nav ul li a:focus {
    color: #FFF;
    text-decoration: none;
}

/* main content */
.main-content {
    background: #FFF;
    width: 740px;
}

.main-content p {
    color: #2c2c2c;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    font-weight: 300;
    line-height: 28px;
}

/* Sections */

.main-content section {
    padding: 60px 70px;
    position: relative;
    border-bottom: solid 1px #EEE;
}

.main-content section .section-header {
    margin-bottom: 40px;
    position: relative;
}

.main-content section .section-header h2 {
    color: #f1beb0;
    display: inline-block;
    font-family: 'Poppins', sans-serif;
    font-size: 17px;
    font-weight: 700;
	letter-spacing: 3px;
    margin: 0;
    text-transform: uppercase;
    position: relative;
}

.main-content section .section-header-light {
    margin-bottom: 60px;
    position: relative;
    z-index: 1;
}

.main-content section .section-header-light h2 {
    color: #FFF !important;
    display: inline-block;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    font-weight: 400;
    margin: 0;
    text-transform: uppercase;
    padding-left: 20px;
    position: relative;
}

.main-content section .section-header-light h2:before {
    content: '';
    position: absolute;
    background: transparent;
    bottom: 10px;
    left: 0;
    height: 16px;
    width: 16px;
    border-left: solid 3px #FFF !important;
    border-top: solid 3px #FFF !important;
}

.main-content section .section-header-light h2:after {
    content: '';
    position: absolute;
    background: transparent;
    bottom: -10px;
    right: -17px;
    height: 16px;
    width: 16px;
    border-right: solid 3px #FFF !important;
    border-bottom: solid 3px #FFF !important;
}

/* about */

.about .intro ul.info {
    margin-top: 40px;
    padding: 0;
    list-style: none;
}

.about .intro ul.info li {
    
    padding: 7px 0;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    color: #0C0C0C;
    font-size: 14px;
}

.about .intro ul.info li:first-child {
    padding-top: 0;
}

.about .intro p {
    margin: 0;
}

.about .skills .item {
    margin-top: 40px;
}

.about .skills .item .skill-info {
    margin-bottom: 30px;
}

.about .skills .item .skill-info h3 {
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    margin: 0;
}

.about .skills .item .skill-info span {
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
    font-weight: 300;
    color: #9C9C9C;
}

/* resume */

.resume .top-item {
    margin-top: 0 !important;
}

.resume .resume-item {
    background: #FFF;   
    margin-top: 30px;
    max-height: 140px;
    overflow: hidden;
}

.resume .resume-item h2 {
    font-size: 16px;
    font-weight: 700;
    margin: 0 0 10px;
}

.resume .resume-item span {
    color: #666;
    display: block;
    font-size: 12px;
    font-weight: 300;
    margin: 0 0 10px;
}

.resume .resume-item p {
    line-height: 20px;
    margin-bottom: 0;
}

/* works */

.works .control {
    margin-bottom: 30px;
}

.works .control ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.works .control ul li {
    display: inline-block;
    padding: 0 20px 0 0;
}

.works .control ul li a {
    color: #9E9E9E;
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
}

.works .control ul li a:hover {
    color: #1a1a1a;
    text-decoration: none;
}

.works .control ul li.active a {
    color: #1a1a1a;
}

.works .control ul li:last-child {
    padding-right: 0;
}

.works .item-outer {
    list-style: none;
    margin: 0 -1px;
    overflow: hidden;
    padding: 0;
    -webkit-transition: all .1s ease-in-out;
    -moz-transition: all .1s ease-in-out;
    -o-transition: all .1s ease-in-out;
    transition: all .1s ease-in-out;
}

.works .item-outer .filtr-item {
    display: inline-block;
    padding: 0 1px;
}

.works .item-outer .item {
    margin-bottom: 2px;
    overflow: hidden;
    height: 193px;
    position: relative;
}

.works .item-outer .item .title {
    color: #FFF;
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    z-index: 2;
}

.works .item-outer .item .title:before {

    -ms-transform: translate(-45px,-45px);
    -webkit-transform: translate(-45px,-45px);
    transform: translate(-45px,-45px);
    -webkit-transition: all .1s ease-in-out;
    -moz-transition: all .1s ease-in-out;
    -o-transition: all .1s ease-in-out;
    transition: all .1s ease-in-out;
}

.works .item-outer .item .title:after {
    
  
    -ms-transform: translate(45px,45px);
    -webkit-transform: translate(45px,45px);
    transform: translate(45px,45px);
    -webkit-transition: all .1s ease-in-out;
    -moz-transition: all .1s ease-in-out;
    -o-transition: all .1s ease-in-out;
    transition: all .1s ease-in-out;
}

.works .item-outer .item .title .inner {
    text-align: center;
    top: calc(50% - 30px);
    width: 100%;
    position: absolute;
}

.works .item-outer .item .title h2 {
    font-size: 18px;
    font-weight: 400;
    letter-spacing: .04em;
    text-transform: uppercase;
    margin: 0 0 5px;
    -ms-transform: translateY(-200px);
    -webkit-transform: translateY(-200px);
    transform: translateY(-200px);
    -webkit-transition: all .1s ease-in-out;
    -moz-transition: all .1s ease-in-out;
    -o-transition: all .1s ease-in-out;
    transition: all .1s ease-in-out;
}

.works .item-outer .item .title span {
    color: #fff;
    display: block;
    font-size: 12px;
    font-weight: 100;
    -ms-transform: translateY(220px);
    -webkit-transform: translateY(220px);
    transform: translateY(220px);
    -webkit-transition: all .1s ease-in-out;
    -moz-transition: all .1s ease-in-out;
    -o-transition: all .1s ease-in-out;
    transition: all .1s ease-in-out;
}

.works .item-outer .item img {
    max-width: 100%;
    height: auto;
    -ms-transform: scale(1);
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition: all .1s ease-in-out;
    -moz-transition: all .1s ease-in-out;
    -o-transition: all .1s ease-in-out;
    transition: all .1s ease-in-out;
}

.works .item-outer .item .overlay {
    background: rgba(241,190,176,0.85);
    height: 100%;
    left: 0;
    opacity: 0;
    top: 0;
    position: absolute;
    width: 100%;
    z-index: 1;
    -webkit-transition: all .1s ease-in-out;
    -moz-transition: all .1s ease-in-out;
    -o-transition: all .1s ease-in-out;
    transition: all .1s ease-in-out;
}

.works .item-outer .item:hover h2 {
    -ms-transform: translateY(0px);
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
}

.works .item-outer .item:hover span {
    -ms-transform: translateY(0px);
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
}

.works .item-outer .item:hover .overlay {
    opacity: 1;
}


.works .item-outer .item:hover .title:before {
    -ms-transform: translate(0px);
    -webkit-transform: translate(0px);
    transform: translate(0px);
}

.works .item-outer .item:hover .title:after {
    -ms-transform: translate(-45px,-45px);
    -webkit-transform: translate(-45px,-45px);
    transform: translate(-45px,-45px);
}

.works .item-outer .mix {
    padding: 5px;
}

/* home */

.header .return {
    bottom: 20px;
    position: absolute;
}

.header .return span {
    color: #fff;
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
    font-weight: 300;
	letter-spacing: 2px;
	text-transform: uppercase;
}