<!DOCTYPE html>
<html>
<head>

	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<title>jackythecow resume</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<link rel="stylesheet" href="static/bootstrap.css" type="text/css" media="all">
	<link rel="stylesheet" href="static/style.css" type="text/css" media="all">
	
	<!-- google fonts -->
	<link href="static/css.css" rel="stylesheet">

</head>

<body>

<main class="wrapper">

	<header class="header pull-left" style="height: 938px;">
	
		<div class="avatar">
			<img src="https://media.discordapp.net/attachments/846110284263325747/846110298468253745/me.jpg?width=676&height=676" alt="avatar">
		</div>
		
		<div class="name">
			<h1>Jian Lin Cao</h1>
			<span>Programmer</span>
		</div>
		
		
		<nav class="main-nav">
			<ul>
				<li><a href="#objective">Objective</a></li>
				<li><a href="#experience">Clubs & Associations</a></li>
				<li><a href="#education">Education</a></li>
				<li><a href="#works">Projects</a></li>
			</ul>
		</nav>
		
		
		<nav class="main-nav return">
			<ul><li><a href="/"><span>Home</span></a></li></ul>
		</nav>
		
	</header>
	
	<div class="main-content pull-right">
	
		<section id="objective" class="about">

			<!-- About -->
			<div class="section-header">
				<h2>Objective</h2>
			</div>
				
			<div class="intro">
					
				<p>Motivated, diligent student on a deep dive to learn the ever-changing landscape of this industry.</p>

				<ul class="info">
					<li><strong>Location:</strong> Scarborough, Ontario</li>
					<li><strong>Email:</strong> j11cao@ryerson.ca</li>
					<li><strong>Phone:</strong> +1 (647) 968-8821</li>
					<li><strong>Website:</strong> <a href="https://www.github.com/jackythecow" target="_blank">github</a> | <a href="https://www.jackythecow.tk" target="_blank">jackythecow.tk</a></li>
				</ul>
			</div>
			
			<!-- Skills 
			<div class="skills">
				<div class="row">

					<div class="col-md-6 col-sm-6 col-xs-12 item">
						<div class="skill-info clearfix">
							<h3 class="pull-left">Python</h3>
							<span class="pull-right">Academic</span>
						</div>
						
					</div>
					
					<div class="col-md-6 col-sm-6 col-xs-12 item">
						<div class="skill-info clearfix">
							<h3 class="pull-left">Java</h3>
							<span class="pull-right">Academic</span>
						</div>
						
					</div>
					
					<div class="col-md-6 col-sm-6 col-xs-12 item">
						<div class="skill-info clearfix">
							<h3 class="pull-left">C, C++</h3>
							<span class="pull-right">Novice</span>
						</div>
						
					</div>
					
					<div class="col-md-6 col-sm-6 col-xs-12 item">
						<div class="skill-info clearfix">
							<h3 class="pull-left">Git</h3>
							<span class="pull-right">Novice</span>
						</div>
						
					</div>

				</div>
			</div>
			//-->
			
		</section>
		
		<!-- Clubs -->
		<section id="experience" class="resume">
			
			<div class="section-header">
				<h2>Clubs & Associations</h2>
			</div>

			<div class="row">
			
				<div class="col-md-12 col-sm-12 col-xs-12">
					<div class="top-item resume-item">
						<h2>CO-PRESIDENT</h2>
						<span>BLAZE AV  |  2018 - 2020</span>
						<p>The in-house audio-visual club of the school. Organized the audiovisual component of events. Acted as a mentor for younger members.</p>
					</div>
				</div>
						
				<div class="col-md-12 col-sm-12 col-xs-12">
					<div class="resume-item">
						<h2>SECTION HEAD</h2>
						<span>YEARBOOK  |  2018 - 2020</span>
						<p>The school's yearbook commitee essentially creates the yearbook. As the section head of the commitee, I edited and organized the structure of the pages.</p>
					</div>
				</div>

			</div>

		</section>
		
		<!-- Education -->
		<section id="education" class="resume">
			
			<div class="section-header">
				<h2>Education</h2>
			</div>

			<div class="row">
			
				<div class="col-md-12 col-sm-12 col-xs-12">
					<div class="top-item resume-item">
						<h2>BACHELOR'S DEGREE IN COMPUTER SCIENCE</h2>
						<span>RYERSON UNIVERSITY  |  PRESENT</span>
						<p>GPA: 3.96/4.33</p>
					</div>
				</div>
						
				<div class="col-md-12 col-sm-12 col-xs-12">
					<div class="resume-item">
						<h2>ONTARIO SECONDARY SCHOOL DIPLOMA</h2>
						<span>DR NORMAN BETHUNE COLLEGIATE INSTITUTE  |  JUNE 2020</span>
						<p>Scholar's Certificate Recipient</p>
					</div>
				</div>

			</div>
			
		</section>

		<section id="works" class="works">
			
			<div class="section-header">
				<h2>Projects</h2>
			</div>

			<div class="item-outer row" style="padding: 0px; position: relative; height: 180px;">
			
				<div class="col-md-4 col-sm-6 col-xs-12 filtr-item" style="opacity: 1; transform: scale(1) translate3d(0px, 0px, 0px); backface-visibility: hidden; perspective: 1000px; transform-style: preserve-3d; position: absolute; transition: all 0.5s ease-out 0ms; pointer-events: auto;">
					<div class="item">
						<a href="https://github.com/jackythecow/oni" target="_blank" class="work-image">
							<div class="title">
								<div class="inner">
									<h2>ONI Discord</h2>
									<span>View Details</span>
								</div>
							</div>
						</a>
						<div class="overlay"></div>
						<img src="https://images-ext-1.discordapp.net/external/iN6gODFB7Zk_W69MOalTg0cxfQwVnWzFjt9qXHaP844/%3Fsize%3D1024/https/cdn.discordapp.com/avatars/753066641360945182/26db9f2847accf9b0fbb9730ca2a9902.webp?width=676&height=676" alt="Discord Bot">
					</div>
				</div>
				
				<div class="col-md-8 col-sm-6 col-xs-12 filtr-item" style="opacity: 1; transform: scale(1) translate3d(201px, 0px, 0px); backface-visibility: hidden; perspective: 1000px; transform-style: preserve-3d; position: absolute; transition: all 0.5s ease-out 0ms; pointer-events: auto;">
					<div class="item">
						<a href="#" class="work-image">
							<div class="title">
								<div class="inner">
									<h2>ID80 Keyboard</h2>
									<span>View Details</span>
								</div>
							</div>
						</a>
						<div class="overlay"></div>
						<img src="https://media.discordapp.net/attachments/846110284263325747/846111972238950420/id80.jpg" alt="ID80">
					</div>
				</div>
				
			</div>
			
		</section>
		
		<section id="testimonials" class="resume">
			
			<div class="section-header">
				<h2>References</h2>
			</div>
			
			<div class="row">
			
				<div class="col-md-12 col-sm-12 col-xs-12">
					<div class="top-item resume-item">
						<h2>JAMES ISHIGURO</h2>
						<span>Teacher  |  TDSB<br/>(647) 283-9403<br/>james.ishiguro@tdsb.on.ca</span>
						<p>James Ishiguro was the staff advisor for the BLAZE AV club while I was the club president.</p>
					</div>
				</div>
				
			</div>

        </section>
		
	</div>
	
</main>

</body>